.ContentAdvantages-container {
  width: 275px;
  height: 275px;
  border-radius: 15px;
  background-color: #fff;
  padding: 41px 45px;
  p {
    padding-top: 10px;
    line-height: 200%;
    width: 188px;
  }
}
