.HomeContent-container {
  h2 {
    font-size: 40px;
    font-weight: 300;
    padding: 20px 40px;
  }

  section {
    margin-bottom: 69px;
  }
}

.HomeContent-aboutUs {
  line-height: 200%;
  width: 888px;
}

.HomeContent-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 683px;
}

.HomeContent-advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.HomeContent-placements {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.HomeContent-tour {
  background-color: #e1e1e1;
  border-radius: 15px;
  padding: 40px 45px 68px 45px;
  h2 {
    padding: 0;
    padding-bottom: 19px;
  }
}
